@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700|Raleway);
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-x: hidden;
  background: white; }

h1 {
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-size: 3em;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding: 2%;
  margin-bottom: 30px;
  text-shadow: 0px 0px 250px #000; }

h2 {
  position: relative;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: #2C2C2C;
  text-align: center;
  margin: 15px auto;
  text-decoration: underline; }

p {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  color: #2C2C2C;
  font-size: 1.4em;
  line-height: 190%;
  text-align: justify;
  font-weight: 300; }

img {
  text-align: center;
  max-width: 100%;
  height: auto;
  width: auto; }

.clearfix {
  clear: both; }

/*----------------------------*/
 * /*Start elem. styles */
/*---------------------------- */
.intro {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: url(https://static.pexels.com/photos/132037/pexels-photo-132037.jpeg) no-repeat center center;
  background-size: cover;
  top: 0; }
  .intro .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    text-align: center; }
    .intro .inner .content {
      max-width: 600px;
      margin: auto; }

nav {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 70px; }

#menu-icon {
  width: 30px;
  height: 30px;
  background: url(img/nav-icon.png) center center;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer; }
  #menu-icon.menu-active + ul {
    display: block; }

nav ul {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 100%;
  top: 37%;
  width: 130px;
  z-index: 1000;
  list-style: none;
  float: left; }
  nav ul li {
    width: 100%;
    padding: 8px 0 10px 7px;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 120%; }
    nav ul li a {
      padding-bottom: 1px;
      font-weight: 600;
      position: relative;
      color: #fff;
      text-decoration: none; }

/*--------start underline animation--------- */
nav ul li a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  transform-origin: left;
  background: white;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear; }

nav ul li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

/*--------end underline animation--------- */
.inner {
  max-width: 600px;
  margin: auto;
  font-size: 1.7em;
  line-height: 1.6;
  padding: 10px; }
  .inner .content p {
    color: #fff;
    text-align: center;
    margin-top: -10%; }

.about-left-col {
  width: 48%;
  float: left;
  margin: 4% 4% 0 4%; }
  .about-left-col > p {
    text-indent: 6%; }

.about-sidebar {
  width: 40%;
  float: left;
  margin: 6% 4% 0 0; }

#port {
  text-align: center;
  overflow: auto;
  box-sizing: border-box; }
  #port .one-third-port {
    width: calc(100% / 3 - 3%);
    height: 300px;
    overflow: hidden;
    margin: 1%;
    float: left; }
    #port .one-third-port:nth-of-type(1), #port .one-third-port:nth-of-type(4) {
      margin-left: 2%; }
    #port .one-third-port:nth-of-type(2), #port .one-third-port:nth-of-type(5) {
      margin: 1% 1.5%; }
    #port .one-third-port:nth-of-type(3), #port .one-third-port:nth-of-type(6) {
      margin-right: 2%; }
    #port .one-third-port img:hover {
      opacity: 0.6; }

.service-left-col {
  width: 48%;
  float: left;
  margin: 0 4%; }
  .service-left-col > p {
    text-indent: 6%; }

.service-sidebar {
  width: 40%;
  float: left;
  margin: 2% 4% 2% 0; }

.contact p {
  text-align: center;
  letter-spacing: 5px; }
.contact a {
  color: #2C2C2C;
  text-decoration: none; }
.contact .break {
  display: none; }

.social {
  padding: 0;
  height: 90px;
  list-style-type: none;
  text-align: center; }
  .social li {
    display: inline; }
  .social i {
    font-size: 270%;
    margin: 1% 5% 7% 4%;
    color: #2C2C2C; }
    .social i:hover {
      color: #606060; }

.parallax {
  background: url(https://static.pexels.com/photos/191428/pexels-photo-191428.jpeg) no-repeat center center fixed;
  background-size: cover;
  opacity: 0.5; }
  .parallax .parallax-inner {
    padding-top: 17%; }

footer.second {
  background-color: #2C2C2C; }
  footer.second p {
    color: #fff;
    text-align: center;
    padding: 5%;
    margin: 0; }

@media screen and (max-width: 1024px) {
  .parallax {
    background: url(https://static.pexels.com/photos/191428/pexels-photo-191428.jpeg) no-repeat center center;
    background-size: cover; }

  body {
    font-size: 13px; }

  #port .one-third-port {
    height: 200px; } }
@media screen and (max-width: 768px) {
  nav ul li {
    font-size: 1.5em; }

  body {
    font-size: 10px; }

  .intro .inner h1 {
    font-size: 40px; }

  #port .one-third-port {
    height: 160px; }

  .social {
    height: 40px;
    margin: 20px 0; } }
@media screen and (max-width: 425px) {
  nav #menu-icon {
    top: 5%;
    background-size: 60px 60px; }
  nav ul {
    left: 23%;
    top: 9%; }

  #about .about-left-col {
    width: 82%;
    margin: 0 8% 0 8%; }
    #about .about-left-col h2 {
      margin: 15px auto 15px auto; }
    #about .about-left-col p {
      font-size: 14px; }
  #about .about-sidebar {
    display: none; }

  #port .one-third-port {
    width: 45%;
    padding: 0;
    height: 130px; }
    #port .one-third-port:nth-child(even) {
      margin: 1% 1% 0 4%; }
    #port .one-third-port:nth-child(odd) {
      margin: 1% 4% 0 1%; }

  #serv .service-left-col {
    width: 82%;
    margin: 0 8% 0 8%; }
    #serv .service-left-col p {
      font-size: 14px; }
  #serv .service-sidebar {
    width: 82%;
    margin: 0 8% 0 8%; }

  #contact .contact p {
    letter-spacing: 4.5px;
    width: 82%;
    margin: 0 8% 0 8%; }
    #contact .contact p .break {
      display: block; } }
@media screen and (max-width: 325px) {
  .contact p {
    font-size: 1.3em; } }

/*# sourceMappingURL=compile.css.map */
